.about{
    padding-top: 62px;
    padding-bottom: 214px;
    &__wrapper{
        position: relative;

    }




    &__title{
        
        margin-bottom: 37px;
    }

    &__text{
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 30px
    }

    &__btn{
        width: 219px;
        height: 53px;
        color: #2947A9;
        background: #FFFFFF;
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        border: 2px solid #2947A9;
        border-radius: 6px;
    }
}
@media(max-width:$tablet-bp-max){
    .about{
        &__img{
            margin-bottom: 20px;
        }
        &__text{
            color: #2947A9;
        }
    }
}
@media(min-width:$desktop-bp-min){
    .about{
        &__img{
            width: 902px;
            height: 669px;
            object-fit: cover
        }
    
        &__content{
            position: absolute;
            right: 0;
            transform: translateY(-15%);
            bottom: 0;
            color: #fff;
            background-color: #2947A9;
            padding: 50px 0px 60px 40px;
            width: 488px;
        }
        &__text{
            width: 388px;
        }
    }
}