.project{
    padding-top: 88px;
    padding-bottom: 138px;
    &__title{
       
        color: #292E3D;
        margin-bottom: 40px;
    }

    &__img{
        width: 384px;
        height: 247px;
        object-fit: cover;
    }
    &__content{
        background-color:#2947A9;
        color: #fff;
        padding: 12px 1px 16px 12px;
    }
    &__name{
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 12px;
        width: 322px;
    }
    &__text{
        font-size: 18px;
        line-height: 21px;

    }
    &__card:not(:nth-last-child(-n + 2)){
        margin-bottom: 32px;
    }
    &__btn{
        width: 295px;
        height: 64px;
    }
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 694px;
    margin-bottom: 32px;
}


.btn-wrapper{
    display: flex;
    justify-content: space-between;
}

.btn-wrapper--disabled{
    display: none;
}

.pages-wrapper{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-evenly;
}

.page-btn{

    border-radius: 50%;
    border: none;
    width: 16px;
    height: 16px;
    background: #F6F8F7;
    &--active{
        background: #2947A9;
    }
}

