.slider{
    &-image{
        position: relative;
        width: 100%;
        height: 646px;
        object-fit: cover;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 16.58%, rgba(255, 255, 255, 0) 72.38%);
    }
    &-header{
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
        font-weight: 600;
        font-size: 72px;
        line-height: 84px;
        width: 556px;
    }
    &-content{
        padding-top: 20px;
        padding-bottom: 26px;
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: #3559C7;
        color: #fff;
        width: 100%;
    }
    &-title{
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        text-align: center; 

    }
    &-text{
        font-size: 16px;
        line-height: 28px;
        text-align: center;
    }
    &-button{

        height: 40px;
        background-color: #292E3D;
        color:#fff;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &-prev{
            border-right: 1px solid #b3b2b2;
        }
        &-next{
            border-left: 1px solid #b3b2b2;
        }
        &-wrapper{
            display: flex;
            justify-content: flex-end;
            transform: translateY(-100%);
            position: absolute;
            width: 100%;
            z-index: 100;
        }
    }
}

.swiper-button-disabled{
    background-color: #3c445b;;

}
@media(max-width:$mobile-bp-max){
    .slider{
        &-header{
            display: none;
        }
       &-button{
        background-color: #1d2c5b83;
        &-prev{
            &-arrow{
                padding-left: 10px;
                padding-right: 10px;
            }
        }
        &-next{
            &-arrow{
                padding-right: 10px;
                padding-left: 10px;
            }
        }
        &-wrapper{
        top: 50%;
        justify-content: space-between;
        } 
       }
    }
}
@media(min-width:$tablet-bp-min){
    .slider{
        &-title{
            margin-bottom: 20px;
        }
        &-text{
            font-size: 24px;
        }

        &-content{
            bottom: 40px;
            width: 416px;
        }
        &-button{
            width: 208px;
        }
    }
}
