.nav{
    pointer-events: all;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;

    &__container{
        background-color: #fff;
        width: 100%;
        z-index: 100;
        position: fixed;
    }
    &__logo{
        z-index: 100;
        display: flex;
        align-items: center;
        color: #2947A9;
        font-weight: 700;
        font-size: 30px;
        line-height: 35px;
        transition: color 0.2s ease, font-size 0.2s ease;
        &:hover{
            color: #2146bf;
            font-size: 32px;
        }
        &-icon{
            width:38px;
            height: 48px;
            transition: transform 0.2s ease
        }
        &:hover .nav__logo-icon{
            transform: scale(1.1)
        }
        &-wrap{
            font-style: italic;
            margin-left: 14px;
        }
    }
    &__list{
        &-link{
            color: #14171F;
            transition: color 0.3s ease;
            &:hover{
                font-weight: 600;
                color: #F9995D;
            }
        }
    }
}

#contact{
    cursor: pointer;
    border: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    width: 136px;
    height: 41px;
    background-color: #F9995D;
    border-radius: 4px;
    transition: background-color 0.2s ease, font-size 0.1s ease;
    &:hover{
        background-color: #ff6200;
    }
    &:active{
        font-size: 17px;
        background-color: #ae4300;
    }
}

@media(max-width:$tablet-bp-max){
    .menu{
        &__active{
            padding-bottom: 40px;
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: auto;
            background-color: rgb(255, 255, 255);
            box-shadow: 10px 0 150px black;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease;
            &-display{
                opacity: 1;
                visibility: visible;
            }
        } 
    }
    .nav{
        &__menu{
            z-index: 100;
            position: relative;
            width: 30px;
            height: 20px;
            border: none;
            background-color: transparent;
            cursor: pointer;
            & span,
            &::after,
            &::before{ left: 0;
                position: absolute;
                width: 100%;
                height: 2px;
                transition: all 0.3s ease;
                background-color: #2947A9;
            }
            &::after,
            &::before{
                content: "";
            }
            &::after{
                bottom: 0;
            }
            &::before{
                top: 0;
            }
            & span{
                top: 50%;
                transform: scale(1) translate(0, -50%);
            }
            &-active span{
                transform: scale(0) translate(0, -50%);
            }
            &-active::before{
                top: 50%;
                transform: rotate(-45deg) translate(0, -50%);
            }
            &-active::after{
                bottom: 50%;
                transform: rotate(45deg) translate(0, 50%);
            }
        }
        &__list{
            padding-top: 100px;
            padding-left: 50px;
            &-item{
                font-size: 20px;
                &:not(:last-child){
                    margin-bottom: 20px;
                }
            }
        }
    }
}
@media(min-width:$desktop-bp-min){
.nav{
    &__menu{
        display: none;
    }
    &__list{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 577px;
    }
}
}