.contact-footer{
    padding: 85px 0;
    &__info{
        font-style: normal;
    }
    &__item{
        &:not(:last-child){
            margin-bottom: 32px;
        }
    }
    &__title{
        display: inline-block;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        font-variant: small-caps;
        color: #2947A9;
    }
    &__link{
        font-size: 20px;
        line-height: 23px;
        font-weight: 400;
        text-transform: capitalize;
        color: #292E3D;
        transition: color 0.2s ease;
        &:hover{
          font-weight: 600;
          color: #364162;
        }
    }
    &__social-title{
        margin-bottom: 20px;
    }
    &__form-btn{
        cursor: pointer;
        border: none;
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #FFFFFF;
        width: 136px;
        height: 41px;
        background: #F9995D;
        border-radius: 4px;
        &:hover{
            background-color: #ff6200;
        }
        &:active{
            font-size: 17px;
            background-color: #ae4300;
        }
    }
}

.social{
    &-list{
        width: 160px;
        display: flex;
        justify-content: space-between;
    }
    &-link{
        display: block;
        width: 40px;
        height: 40px;
        &__logo{
            transition: fill 0.2s ease ;
        }
 
        &:hover .social-link__logo{
            fill: #2947A9;
        }
    }
}
@media(max-width:$mobile-bp-max){
    .contact-footer{
        &__info{
            margin-bottom: 32px;
        }
    }
}
@media(min-width:$tablet-bp-min){
    .contact-footer{
        &__content{
            display: flex;
            justify-content: space-between;
        }
    }
}